.main {
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  margin: 0 auto;
  max-width: 440px;
}

.text {
  padding: 0;
  padding-bottom: 32px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .main {
    padding-left: 165px;
    padding-right: 165px;
  }
  .text {
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    padding-left: 500px;
    padding-right: 500px;
  }
}