.page {
  padding: 0 40px;
  display: grid;
  grid-template-areas:
    'h1 ava blockquote'
    'social ava blockquote'
    'blocks blocks blockquote';
}

.name {
  grid-area: h1;
}

.city {}

.socialmedia {
  grid-area: social;
}

.ava {
  grid-area: ava;
}

.blockquote {
  grid-area: blockquote;
}

.link {}

.link_active {}

.blocks {
  grid-area: blocks;
}