@import url('./../../vendor/fonts.css');

.page {
  background-color: #F5F5F5;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}