.main {
  align-self: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 48px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}