.main {
  max-width: 1440px;
  margin: auto;
}

.lead {
  display: flex;
}

.gallery {
  margin: 0 40px;
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(272px, 1fr));
  gap: 39px 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 0 32px;
    gap: 31px 20px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    margin: 0 24px;
    gap: 24px;
  }
}